@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}
input[type="checkbox"] + label {
    overflow: auto;
}
input[type="checkbox"] + label .checkbox {
    display: inline-block;
    margin-top: 0.1em;
    margin-right: 0.3em;
    margin-bottom: 0.1em;
    width: 0.6em;
    height: 0.6em;
    /*float: left;*/
    border: solid 2px #000000;
    /*padding-left: 0.9em;*/
}
input[type="checkbox"]:checked + label .checkbox {
    background: #66D9EF;
}

/*hide the single-wide table on desktop*/
table.single_wide {
    display: none;
}

div.container_main {
    text-align: center;
    /*margin: auto;*/
    margin: 0;
    height: 100%;
    width: 70%;
    display: inline-block;
    float: left;
}
div.container_side {
    display: inline-block;
    float: left;
    text-align: left;
    margin: 0;
    height: 100%;
    width: 30%;
}

table {
    text-align: left;
    margin: auto;
    display: inline-block;
}

h1 {
    margin: 0;
    width: 100%;
}

th, td {
    padding: 5px 10px;
}

td:nth-child(4) {
    padding-left: 50px;
}

td:nth-child(1), td:nth-child(5 ) {
    text-align: center;
    font-weight: 700;
}

tr:nth-child(odd) {
    background-color: #f2f2f2
}

input#phrase_input {
    width: 100%;
    /*width: auto;*/
    padding: 2px;
    background: #ffffff;
    border: 1px solid #333;
    border-bottom: 3px solid #333;
    margin: auto;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.75em;
        text-align: center;
    }
    td:nth-child(4) {
        padding-left: 0;
    }

    /*make the containers one-after-another*/
    div.container_main {
        width: 100%;
        float: left;
    }
    div.container_side {
        width: 100%;
        float: right;
    }

    /*hide double wide, show single wide table*/
    table.double_wide {
        display: none;
    }
    table.single_wide {
        display: inline-block;
    }
}
