@import url(https://fonts.googleapis.com/css?family=Inconsolata);



html {
    font-family: 'Inconsolata', sans-serif;
    transition: opacity 0.25s ease-in-out;
}

h1 {
    margin: 0;
    text-align: center;
    /*font-family: 'Anonymous Pro', sans-serif;*/
    font-size: 45px;
}

h3 {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    font-family: inherit;
    font-weight: inherit;
}

input {
    font-family: inherit;
    font-weight: inherit;
    font-size: 35px;
}

div#output {
    font-size: 35px;
    text-align: right;
}

#help_text_hide_button {
    background: #999;
    color: #000;
    font-weight: bolder;
    padding: 0 0.125em;
    text-decoration: none;
}
#help_text {
    background: #eee;
    padding: 0 0.125em;
}

div.tree {
    width: 100%;
    background: #bbbbbb;
}

input {
    width: 100%;
    border: 2px solid #000;
}

div.box {
    overflow: auto;
    text-align: center;
}

div.container {
    overflow: auto;
    font-size: 0;
}

div.numberContainer {
    /*width: 100%;*/
    font-size: 40px;
    /*padding: 5px;*/
    padding: 10px;
    background-color: #66D9EF;
}

div.number {
    display: block;
    float: right;
    text-align: right;
}

div.operands {
    display: inline-block;
    float: left;
    /*border-top: 2px solid #000;*/
    /*border-bottom: 2px solid #000;*/
}

div.operatorContainer {
    padding: 0 10px;
    position: relative;
    font-size: 40px;
    top: 50%;
    /*margin-top: 100%;*/
    transform: translateY(-50%);
}

div.operator {
    display: inline-block;
    float: left;
    /*height: 100%;*/
    text-align: center;
    min-width: 50px;
    overflow: auto;
    background-color: #aaaaaa;
    /*CSS arrow (kind of)*/
    border-left: 10px solid #000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}


table.output {
    margin-left: auto;
}
table.output tr, table.output tr td {
    background-color: inherit;
}
div#help_screen_container {
    display: none; /*override this in JavaScript later*/
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border: 3px solid #000000;
    padding: 10px;
    box-shadow: 10px 10px 20px #888888;
    background: #ffffff;
    opacity: 0;
    /*opacity: 1;*/
    transition: opacity 0.25s ease-in-out;
}





div.operator_table_container {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    /*-moz-column-fill: balance;*/
    /*-moz-column-fill: auto;*/
    column-count: 3;
    column-width: auto;
}
div.two_column {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    /*-moz-column-fill: balance;*/
    /*-moz-column-fill: auto;*/
    column-count: 2;
}

div.operator_table_container ul {
    /*remove margin because it messes with multi-column-ness*/
    /*overflow-style: auto;*/
    white-space: nowrap;
    margin: 0;
}

div.operator_table_container tbody {
    /*-webkit-column-span: all; !* Chrome, Safari, Opera *!*/
    /*-webkit-column-span: default; !* Chrome, Safari, Opera *!*/
    column-span: all;
    white-space: nowrap;
}

tr:nth-child(odd) {
    background-color: #f2f2f2
}
td + td {
    padding-left: 15px;
}

table.constants_table tbody tr td {
    text-align: right;
}

div.block {
    display: inline-block;
    float: left;
    margin-right: 15px;
}


/*fancy checkboxes*/
input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
}
input[type="checkbox"] + label {
    overflow: auto;
}
input[type="checkbox"] + label .checkbox {
    display: inline-block;
    margin-top: 0.1em;
    margin-right: 0;
    margin-bottom: 0;
    width: 0.6em;
    height: 0.6em;
    /*float: left;*/
    border: solid 2px #000000;
    /*padding-left: 0.9em;*/
}
input[type="checkbox"]:checked + label .checkbox {
    background: #66D9EF;
}


@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }

    input {
        font-size: 30px;
    }

    div#output {
        font-size: 30px;
    }

    div.numberContainer {
        font-size: 30px;
    }

    div.operatorContainer {
        font-size: 30px;
    }
}
