@import url(https://fonts.googleapis.com/css?family=Inconsolata);

html {
    font-family: 'Inconsolata', sans-serif;
    transition:  opacity 0.25s ease-in-out;
}

h1 {
    margin:     0 0 0 412px;
    text-align: center;
    /*font-family: 'Anonymous Pro', sans-serif;*/
    font-size:  45px;
}

h3 {
    opacity:     1;
    transition:  opacity 0.25s ease-in-out;
    font-family: inherit;
    font-weight: inherit;
}

/* ----------------------------- */

.colorpicker-container {
    width:    430px;
    position: fixed;
    top:      0;
    left:     0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

.color-container {
    display: inline-block;
    width:   50%;
}

.color {
    padding:    10px;
    text-align: center;
}

.color-selected {
    padding: 5px;
    border:  5px solid #000;
}

.color-index {
    font-size: 28px;
}

.color-name {
    font-size: 18px;
}

.color-value {
    font-size: 20px;
}

#colorpicker-target {
    position: relative;
    width:    412px;
    height:   323px;
}

body { height: 100%; }

#terminal-display-container {
    width:       2048px;
    font-size:   18px;
    margin-left: 430px;
}

.space {
    width: 1em;
}

.ansi-bright-black-fg { font-weight: bold; }

.ansi-bright-red-fg { font-weight: bold; }

.ansi-bright-green-fg { font-weight: bold; }

.ansi-bright-yellow-fg { font-weight: bold; }

.ansi-bright-blue-fg { font-weight: bold; }

.ansi-bright-magenta-fg { font-weight: bold; }

.ansi-bright-cyan-fg { font-weight: bold; }

.ansi-bright-white-fg { font-weight: bold; }
