@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

div.container {
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

table {
    text-align: left;
    margin: auto;
    display: inline-block;
}

h1 {
    margin: 0;
    width: 100%;
}

th, td {
    padding: 5px 10px;
}

td:nth-child(4) {
    padding-left: 50px;
}

td:nth-child(1), td:nth-child(5 ) {
    text-align: center;
    font-weight: 700;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

input.go_button {
    /*width: 100%;*/
    /*width: auto;*/
    padding: 2px;
    background: #F8F8F2;
    border: 3px solid #333;
    margin: auto;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.75em;
        text-align: center;
    }
    td:nth-child(4) {
        padding-left: 0;
    }
}
