@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
    /*remove annoying extra padding on headers*/
    margin: 0 10px 0 10px;
}
body { padding: 10px; }

input {
    font-size: 1.1em;
    margin-bottom: 10px;
}

table {
    border: none;
    border-collapse: collapse;
}

td {
    padding: 10px;
    /*shadow so that text is readable on any color*/
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    color: #fff;
    background-color: #8F8F8C;
    /*center the color labels for readability*/
    text-align: center;
}

tr td:nth-child(1) {
    text-shadow: none;
    background-color: #ccc;
    color: #000000;
    /*right align the numbers*/
    text-align: right;
}

td.remove-btn {
    text-shadow: none;
    background-color: #ccc;
    color: #000000;
}
td.remove-btn a {
    /*color: #000000;*/
    color: inherit;
    text-decoration: none;
}

td.color-label {
    width: 3.5em;
}

.color-black  { background-color: Black;  }
.color-brown  { background-color: Brown;  }
.color-red    { background-color: Red;    }
.color-orange { background-color: Orange; }
.color-yellow { background-color: Yellow; }
.color-green  { background-color: Green;  }
.color-blue   { background-color: Blue;   }
.color-violet { background-color: Violet; }
.color-gray   { background-color: Gray;   }
.color-white  { background-color: White;  }

select {
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    color: #fff;
    font-size: 1.1em;
    margin-right: 10px;
    margin-bottom: 10px;
}

option {
    font-size: 1.1em;
    padding: 10px;
    /*shadow so that text is readable on any color*/
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    color: #fff;
    background-color: #8F8F8C;
    /*center the color labels for readability*/
    text-align: center;
}

input[type="button"] {
    font-size: 1.1em;
    border: 2px #000;
}

option:nth-child( 1) { background-color: Black;  color: #fff;}
option:nth-child( 2) { background-color: Brown;  color: #fff;}
option:nth-child( 3) { background-color: Red;    color: #fff;}
option:nth-child( 4) { background-color: Orange; color: #000;}
option:nth-child( 5) { background-color: Yellow; color: #000;}
option:nth-child( 6) { background-color: Green;  color: #fff;}
option:nth-child( 7) { background-color: Blue;   color: #fff;}
option:nth-child( 8) { background-color: Violet; color: #fff;}
option:nth-child( 9) { background-color: Gray;   color: #000;}
option:nth-child(10) { background-color: White;  color: #000;}

