html {
    font-family: "Open Sans", sans, sans-serif;
    width: 100%;
    height: 100%;
}

div.config {
    font-size: 16px;
    /*width: 20em;*/
    width: 400px;
    float: left;
    display: inline-block;
    /*increase line height or else number input boxes collide with each other*/
    line-height: 1.5;
    color: #F8F8F2;
    background: #272822;

    padding: 1em;
}

h1 {
    text-align: center;
    margin-top: 0;
}

#main_canvas {
    display: block;
    float: right;
    /*float: left;*/
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

p {
    margin: 15px 0;
    /*needed so that it will expand to fit it's children*/
    position: relative;
    overflow: auto;
}

div.line {
    position: relative;
    overflow: auto;
    margin: 4px 0;
}
`
div#progress {
    text-align: center;
    width: 100%;
}

div#progress_bar_container {
    width: 100%;
    height: 2em;
    /*default to don't display, and we'll manually display it later in the
    * javascript*/
    display: none;
    margin: 0 0 10px 0;
    background-color: #F8F8F2;
}

div#progress_bar {
    /*height: 2em;*/
    height: 100%;
    display: inline-block;
    /*width: 100%;*/
    width: 70%;
    background-color: #66D9EF;
}

a:visited {
    color: #bbb;
}

span.right {
    float: right;
    display: inline-block;
}

input {
    width: 30px;
}

input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type="checkbox"] + label {
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    border: solid 2px #F8F8F2;
}

input[type="checkbox"]:checked + label {
    background: #66D9EF;
}

div.center {
    width: 70px;
    margin: auto;
    padding: 3px;
}

input.go_button {
    width: 100%;
    /*width: auto;*/
    padding: 4px;
    background: #F8F8F2;
    border: 3px solid #66D9EF;
    margin: auto;
}

input[type="number"] {
    text-align: right;
    font-size: 1em;
    border: none;
    padding: 0;
    color: #272822;
    background: #F8F8F2;
    border-bottom: solid 2px #66D9EF;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    /*hides the up-down arrows*/
    -webkit-appearance: none;
    margin: 0;
}

.wide_column {
    width: 40%;
    float: right;
    display: block;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    float: right;
    width: 100%;
}

input[type="radio"]:checked + label {
    background: #F92672;
    color: #F8F8F2;
}

input.wide_num {
    width: 60px;
}

input.full_wide {
    width: 100%;
}

@media screen and (max-width: 600px) {
    div.config {
        width: 100%;
        /*fixes the horizontal scrolling*/
        box-sizing: border-box;
    }

    #main_canvas {
        float: left;
    }
}