#numpad {
	width: 100%;
}
#numpad tr {
	position: relative;
	width: 25%;
	padding: 0;
	/*height: 3em;*/
}
#numpad tr td {
	padding: 0;
}

#numpad tr td input {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 3em;
	border: none;
	padding: 0;
}