#numpad {
	width: 60%;
	float: left;
	margin-right: 30px;
}
#stack {
	width: 30%;
	float: right;
}
#numpad tr {
	position: relative;
	width: 25%;
	padding: 0;
}
#numpad tr td {
	padding: 0;
}

#numpad tr td input {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 3em;
	border: none;
	padding: 0;
}

@media screen and (max-width: 600px) {
	#numpad { 
		width: 60%;
		margin-right: 1px;
	}
	#stack { width: 20%; }
}